body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}


.left{
  float: left;
  width: 45%; 
}

.right{
  float: right;
  width: 45%;
}

.tile-image{
  height: 200px;
  float: left;
}


.card-title{
  float: left;
  padding-left: 50px;
  width: 43%;
  margin-bottom: 1%;
  text-align: left;
}

.card-text{
  float:left;
  width: 45%;
  padding-left: 50px;
  text-align: left;
}

.right > p{
  float:left;
  width: 45%;
  padding-left: 50px;
  text-align: left;
}

.logo{
  margin-top: -5%;
}


@media (max-width: 680px){
  .logo{
    height: 15px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }
    
  .tile-image{
    display: block;
    height: 200px;
    width: 350px;
  }
  .left{
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }

  .right{
    display: block;
    width: 100%;
  }

  .card-title{
    float: left;
    padding-left: 0%;
    width: 100%;
  }
  
  .card-text{
    display: inline-block;
    width: 100%;
    padding-left: 0%;
  }

  .right > p{
    display: inline-block;
    width: 100%;
    padding-left: 0%;
  }
}